*{
    box-sizing: border-box
}


  
.main{
    text-align: center;
    display: flex;
}

.sub-main{
    
    display: flex;
    justify-content:center;
    padding: 15px;
    height: 250px;
    width:100vw;
    box-shadow: 5px 5px 5px 5px rgb(207, 207, 207);
    border-width:1px;
    border-radius: 14px;
}
.background-container{
    background-image: url("C:\Users\sam\OneDrive\Desktop\styling\camunda_react\camunda-react\src\components\image\bg-presentation.jpg");
    height: 100vh;
    background-size: cover;
}